<ion-nav-view name="aboutWe">
  <ion-view view-title="关于我们">
    <!--头部标题-->
    <ion-header-bar class="positive">
      <div class="topBarCommonC1" ng-click="back()"><i class="icon ion-ios-arrow-left"></i></div>
      <div class="topBarCommonC2">关于我们</div>
      <div class="topBarCommonC3"></div>
    </ion-header-bar>
    <ion-content>
      <div class="aboutWeTop">
        <div class="aboutWeLogo">
          <img style="width: 100%; height: 100%; border-radius: 10px;" src="img/icon.png">
        </div>
        <div>绿农网</div>
        <div style="font-size: 14px; margin-left: 15%; width: 70%; margin-top: 15px">第一家在食材生态链领域实现全流程把控，全品类供应，大数据支撑，一站式采购，大物流到店的全新食材供销配置体系的平台</div>
      </div>
      <div class="aboutWeBottom">
        <div>绿农网公司</div>
        <div>联系方式:service@lvnong100.com</div>
      </div>

    </ion-content>
  </ion-view>
</ion-nav-view>
