<ion-header-bar class="positive">
  <div class="topBarCommonC1" ng-click="back()"><i class="icon ion-ios-arrow-left"></i></div>
  <div class="topBarCommonC2">支付受阻</div>
  <div class="topBarCommonC3"></div>
</ion-header-bar>
<ion-content>
  <div class="distributionExplainList">
    <div class="distributionExplainListC1">支付时提示手机号被注册</div>
    <div class="distributionExplainListC2">建议您退出当前账户,然后使用手机号直接登录,如不记得密码可以尝试密码找回功能</div>
    <div class="distributionExplainSeparate"></div>
  </div>
  <div class="distributionExplainList">
    <div class="distributionExplainListC1">支付时提示手机号被注册</div>
    <div class="distributionExplainListC2">建议您退出当前账户,然后使用手机号直接登录,如不记得密码可以尝试密码找回功能</div>
    <div class="distributionExplainSeparate"></div>
  </div>
  <div class="distributionExplainSeparate2"></div>
  <div class="distributionExplainListC1">没有找到相关问题?</div>
  <div class="distributionExplainBottom">
    <div class="distributionExplainButton">
      <div><img src="img/kefudh.png" alt=""></div>
      <div>在线客服</div>
    </div>
  </div>
  <div class="distributionExplainSeparate2"></div>
</ion-content>
