<ion-nav-view name="distributionDescription">
  <ion-view view-title="配送说明">
    <!--头部标题-->
    <ion-header-bar class="positive">
      <div class="topBarCommonC1" ng-click="back()"><i class="icon ion-ios-arrow-left"></i></div>
      <div class="topBarCommonC2">配送说明</div>
      <div class="topBarCommonC3"></div>
    </ion-header-bar>
    <ion-content>
      <div class="distributionDescriptionSum">
        <div class="distributionDescriptionC1">一、商品出库时间说明</div>
        <div class="distributionDescriptionC2">绿农网配送在您下单48小时内，会有工作人员联系您确认送货时间（下单时可选择配送时间的订单除外）；</div>
        <div class="distributionDescriptionC2">绿农网小件商品配送自下单起24小时内出库；</div>
        <div class="distributionDescriptionC2">供货商直接配送商品自下单起48小时内出库；</div>
        <div class="distributionDescriptionC2">第三方商家配送商品自下单起48小时内出库，除预售商品、海外购商品、定制商品及大件家具商品按店铺公告或店铺协商日期为准送货时间市区一般7个工作日内，偏远地区12个工作日内送达；</div>
        <div class="distributionDescriptionC1">二、配送说明</div>
        <div class="distributionDescriptionC2">影响物流配送的情况：</div>
        <div class="distributionDescriptionC2">商品数量：如您购买的商品数量较多，我们将根据具体包装情况，分拆为2个至多个包裹寄送（被拆分的包裹不会另外收取快递费）；同时，由于快递公司的分发和配送流程，拆分后的包裹将可能不会同时到达。</div>
        <div class="distributionDescriptionC2">公众假期：如遇公众假期订单量较大，发货时间将根据订单具体情况进行相应调整。</div>
        <div class="distributionDescriptionC2">天气原因：如遇恶劣或自然灾害，配送时间将受到影响。</div>
        <div class="distributionDescriptionC1">三、快递公司</div>
      </div>
      <div class="distributionDescriptionExpress">
        <div class="distributionDescriptionExpressC1">
          <div class="distributionDescriptionExpressC4">发货地</div>
          <div class="distributionDescriptionExpressC3">成都市</div>
        </div>
        <div class="distributionDescriptionExpressC2">
          <div class="distributionDescriptionExpressC4">快递公司</div>
          <div>顺丰快递</div>
          <div>申通快递</div>
          <div>德邦快递</div>
        </div>
        <div class="distributionDescriptionExpressC2">
          <div class="distributionDescriptionExpressC4">到货时间</div>
          <div>2-5天</div>
          <div>2-7天</div>
          <div>2-7天</div>
        </div>
      </div>

    </ion-content>
  </ion-view>
</ion-nav-view>
