<ion-header-bar class="positive">
  <div class="topBarCommonC1" ng-click="back()"><i class="icon ion-ios-arrow-left"></i></div>
  <div class="topBarCommonC2">更多</div>
  <div class="topBarCommonC3"></div>
</ion-header-bar>
<ion-content>
  <div class="moreList">
    <div class="moreList2" ng-click="jsGo('tab.useFeekback')">
      <div>使用反馈</div><i class="icon ion-ios-arrow-right"></i>
    </div>
    <div class="moreList2" ng-click="jsGo('tab.systemInformation')">
      <div>系统通知</div><i class="icon ion-ios-arrow-right"></i>
    </div>
    <div class="moreList2" ng-click="clear()">
      <div>清除缓存</div><i class="icon ion-ios-arrow-right"></i>
    </div>
    <div class="moreList2" ng-click="jsGo('tab.oftenQuestion')">
      <div>常见问题</div><i class="icon ion-ios-arrow-right"></i>
    </div>
    <div class="moreList2" ng-click="jsGo('tab.serviseExtent')">
      <div>服务范围</div><i class="icon ion-ios-arrow-right"></i>
    </div>
    <div class="moreList2" ng-click="jsGo('tab.userAgreement')">
      <div>用户协议</div><i class="icon ion-ios-arrow-right"></i>
    </div>
    <div class="moreList2" ng-click="jsGo('tab.aboutWe')">
      <div>关于我们</div><i class="icon ion-ios-arrow-right"></i>
    </div>
  </div>

  <div class="moreButton" ng-click="signOut()">退出登录</div>

</ion-content>
