<ion-header-bar class="positive">
  <div class="topBarCommonC1" ng-click="back()"><i class="icon ion-ios-arrow-left"></i></div>
  <div class="topBarCommonC2">常见问题</div>
  <div class="topBarCommonC3"></div>
</ion-header-bar>
<ion-content>
  <div class="oftenQuestionList">
    <div class="oftenQuestionList2" ng-click="jsGo('tab.distributionExplain')">
      <div><img src="img/copy_dfh.png" alt=""></div><div>平台商品配送说明</div><i class="icon ion-ios-arrow-right"></i>
    </div>
    <div class="oftenQuestionList2" ng-click="jsGo('tab.returnGoodsExplain')">
      <div><img src="img/zongjinge.png" alt=""></div><div>平台商品退货说明</div><i class="icon ion-ios-arrow-right"></i>
    </div>
  </div>
</ion-content>

