<ion-header-bar class="positive">
  <div class="topBarCommonC1" ng-click="back()"><i class="icon ion-ios-arrow-left"></i></div>
  <div class="topBarCommonC2">退货说明</div>
  <div class="topBarCommonC3"></div>
</ion-header-bar>
<ion-content>
  <div class="returnGoodsExplainSum">
    <div>一、退货总则说明</div>
    <p>1、您于绿农完所订购的商品,可按国家三包法和供货厂商售后政策享受保修、更换、维修服务。</p>
    <p>2、根据法律规定及商品性质，如下商品不享受“7天无理由退货”政策：鲜活易腐商品、例如鲜花、绿植、果蔬、汗腺、低温乳品、低温熟食、速冻食品等。<span>（绿农网对商品退换原则保留解释权）</span></p>
    <p>3、特殊商品说明</p>
    <p>食品类：<br>不支持2天无理由退货</p>
    <p>注意事项：</p>
    <p>1、为了保证食品安全，请您在收到食品类商品时仔细查验商品及保质期；</p>
    <p>2、因部分产品包装更新原因，您收到的货品可能与图片不完全一致请以收到的实物为准。</p>
    <div>二、退货保障</div>
    <p>自客户签收商品之日起7天内，绿农网将为您办理退换货服务。</p>
    <p>特殊说明：</p>
    <p>1、在退换产品时，请您保持产品的整洁完好，并附上送货单据并用白纸注明退回原因，如有遗失，我们将无法为您办理退换货。</p>
    <p><span>以下情况，是为非产品质量问题，不与退换货：</span></p>
    <p>1、因环境光线、显示器色差等原因而导致的网站上图片与实物的差异。由于上传的书吗相片分辨率过低、曝光不足而导致的噪点增加、曝光过度等问题。</p>
    <p>2、因客户个人原因造成的商品损坏，不予退换。</p>
    <p>3、因个人在制作软件上自行的操作设置引起的各类问题（如裁切不当、数量规格错误等）；</p>
    <p>4、购买产品时索取了发票的用户，在申请退款时，不论是订单部分金额还是全额退款，都请将发票和产品一起退回，否则将不予退款。</p>
    <div>三、退款说明</div>
    <p>1、签收商品隔日起七日内提交退货申请</p>
    <p>2、2-3天快递员与您联系安排取回商品</p>
    <p>3、商品退回检验</p>
    <p>4、通过线上支付的订单办理退货，商品退回检验无误后，绿农网将提交退款申请，实际款项会依照各银行作业时间返还至您原支付方式<br>
      &nbsp;&nbsp;&nbsp;&nbsp;若您采用货到付款，请于办理退货时提供退款账户，亦于商品退回检验无误后，将退款汇至您的银行账户中</p>
    <p>5、若退回商品有缺件、影响二次销售状况时，退款作业将暂时停止，绿农网会依商品状况报价，后由客服人员与您联系说明并于订单内扣除费<br>
      &nbsp;&nbsp;&nbsp;&nbsp;用后退回剩余款项，或您可以取消退货申请；若符合退货条件者将于商品取回后约1-2个工作日内完成退款</p>
  </div>
</ion-content>
