<ion-nav-view name="serviseExtent">
  <ion-view view-title="服务范围">
    <!--头部标题-->
    <ion-header-bar class="positive">
      <div class="topBarCommonC1" ng-click="back()"><i class="icon ion-ios-arrow-left"></i></div>
      <div class="topBarCommonC2">服务范围</div>
      <div class="topBarCommonC3"></div>
    </ion-header-bar>
    <ion-content>
      <div class="serviseExtentSum">
        <div>服务范围</div>
        <p>绿农网提供多种方式的专业售后服务来满足客户的不同需求，保障客户持续提升管理水准。目前，创世漫道的服务项目包括：</p>
        <div>技术支持服务</div>
        <p>技术支持服务可以保证客户的软件系统稳定、正常的运行，客户通过向CSE咨询，以解决谁用时遇到的系统问题或操作疑难。
          客户也可以通过语音与远程调试等技术，自助解决由CSE指导排除故障</p>
        <div>网上在线服务</div>
        <p>为了能够更主动、更及时、更方便地提供绿农网的各项支持服务，绿农网提供了专门的服务网站，借助于互联网，绿农网的客户服务将为您提供不受时间、地域的自助式服务。
          一旦成为绿农网的正式客户，即可获得用户名与口令，登录之后即可享受网络在线服务</p>
        <div>客户关怀服务</div>
        <p>绿农完将客户关系管理的理解落实到自身的服务中。绿农网为客户提供主动的关怀，以电话、传真等风湿对客户进行回访，了解近期企业的应用变化，
          并对CRM应用需要进行的相应调整作出提示。</p>
        <div>客户化定制服务</div>
        <p>客户化定制是指在绿农网产品的基础上根据行业或企业的特点而专门制定的修改。绿农网不仅提供标准的可以在各行业通用的解决方案，而且提供灵活的定制服务，将在不同的行业中或不同企业的具体要求进行专门设计，
          满足客户的专用性和针对性，可以贴近应用，快速进行系统推广，更体现了创世漫道个性化服务的特色</p>
        <div>联系方式</div>
        <div class="serviseExtentContact">
          <div>
            <p>e-mail:</p>
            <p>24小时服务热线:</p>
            <p>联系电话(成都):</p>
            <p>联系电话(巴中):</p>
          </div>
          <div>
            <p>service@lvnong100.com</p>
            <p>4000723125</p>
            <p>028-85227883</p>
            <p>0827-2631755</p>
          </div>
          <p>您接受修订后的协议和规则</p>
        </div>
      </div>

    </ion-content>
  </ion-view>
</ion-nav-view>
