<ion-header-bar class="positive">
  <div class="topBarCommonC1" ng-click="back()"><i class="icon ion-ios-arrow-left"></i></div>
  <div class="topBarCommonC2" style="width: 50%;left: 25%;">已有账号绑定</div>
  <div class="topBarCommonC3" style="width: 25%;font-size: 12px;color:black;"></div>
</ion-header-bar>
<ion-content style="background:#f3f3f3;">
  <div class="weichatLoginPasswordSeparate"></div>
  <div class="weichatLoginPasswordSum">
    <div class="weichatLoginPasswordSumC1">
      <div class="weichatLoginPasswordSumC2"><i class="icon ion-android-person"></i></div>
      <div class="weichatLoginPasswordSumC3"><input type="text" placeholder="请输入11位手机号" ng-change="changePhone(phone)" ng-model="phone"></div>
      <div class="weichatLoginPasswordSumC4"></div>
    </div>
    <div class="weichatLoginPasswordSumC1" style="border:0px;">
      <div class="weichatLoginPasswordSumC2"><i class="icon ion-locked"></i></div>
      <div class="weichatLoginPasswordSumC3"><input type="password" placeholder="请输入密码(6~12个字符)" ng-change="changePassword(password)" ng-model="password"></div>
      <div class="weichatLoginPasswordSumC4"><div class="weichatLoginPasswordSumC5" ng-click="jsGo('weichatForget')">忘记密码</div></div>
    </div>
  </div>
  <div class="weichatLoginPasswordButtom" ng-click="registerUser()">立即绑定</div>
</ion-content>
